<!-- <div id="infopage"  v-cloak>

  
</div> -->
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

<style type="text/css">
  form label {
    display: inline-block;
  }

  form div {
    margin-bottom: 10px;
  }

  .error {
    color: red;
  }

  label.error {
    position: absolute;
    z-index: 10;
    margin-top: 30px;
    display: table-cell;
    margin-left: 5px;
    font-size: .875rem;
    text-align: left;
  }
</style>

<div class="pace-done" ui-class="">
  <div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
      <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
  </div>
  <div class="app" id="app">
    <div class="padding">
      <div class="navbar">
        <div class="pull-center">
          <a class="navbar-brand">
            <span class="hidden-folded inline">Client information page</span>
          </a>
        </div>
      </div>
    </div>
    <div class="b-t">
      <br>
      <div class="center-block text-center">
        <div class="row-col">
          <div class="col-lg b-r">
            <div class="col-sm-10 offset-sm-1">
              <div class="box col-sm-8 offset-sm-2" style="box-shadow: 0 1px 20px rgba(0, 0, 0, 0.35), 0 -1px 0 rgba(0, 0, 0, 0);">
                <div class="box-header b-b">
                  Info Details
                </div>
                <div class="box-body">
                  <div id="form">
                    <form id="FormInfo" name="FormInfo">
                      <div class="form-group row">
                        <label for="MlsID" class="col-sm-2 offset-sm-2 col-form-label-sm text-right">Mls ID
                          <span class="required">*</span> : </label>
                        <div class="col-sm-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control form-control-sm" name="MlsID" placeholder="Enter Ms ID">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="MortID" class="col-sm-2 offset-sm-2 col-form-label-sm text-right">Mort ID
                          <span class="required">*</span> : </label>
                        <div class="col-sm-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control form-control-sm" name="MortID" placeholder="Enter Mort ID">
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="UserName" class="col-sm-2 offset-sm-2 col-form-label-sm text-right">User Name
                          <span class="required">*</span> : </label>
                        <div class="col-sm-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control form-control-sm" name="UserName" placeholder="Enter User Name">
                          </div>
                        </div>
                      </div>
                      
                      <button type="submit" class="btn btn-lg black p-x-lg">Submit
                        <!-- <i *ngIf="loder" class="fa fa-spinner fa-spin"></i> -->
                      </button>
                    </form>
                    <div class="m-y">
                      <a href="/" class="_600">Log out</a>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
 
  $(document).ready(function () {
    $("#FormInfo").validate({
      rules: {
        MlsID: {
          required: true,
          number: true,
        },
        MortID: {
          required: true,
          number: true,
        },
        UserName: {
          required: true,
        },
      },
      messages: {
        MlsID: {
          required: 'This field is required',
          number: 'Enter only numeric value'
        },
        MortID: {
          required: 'This field is required',
          number: 'Enter only numeric value'
        },
        UserName: 'This field is required'
      },
      submitHandler: function (form) {
        //form.submit();
        console.log("save valid");
        //res.location('/infopage');
      }
    });
  });

</script>
