<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
<script>
   
   $(document).ready(function(){

    $("#formSendToBroker").submit(function (e) {
        e.preventDefault();
      if($('#formSendToBroker')[0].checkValidity()){  
        sendInfotoBroker();
      }
        
    });
    

 

   });

function sendInfotoBroker() {

var employeeId = sessionStorage.getItem("emp_id");
var companyName = sessionStorage.getItem('company_name');
var mortageNumber = $("#mortgage_number").val();
var callBackURL = $("#callback_url").val();
var salary = $("#salary").val();
var employmentYears = $("#employment_years").val();

var isValid = true;
if(isNaN(mortageNumber) || mortageNumber=="")
{
    isValid=false;
    
}
else if(isNaN(salary) || salary=="")
{
    isValid=false;
    
}
else if(isNaN(employmentYears) || employmentYears=="")
{
    isValid=false;
    
}
else if(!IsURLValid(callBackURL))
{
    isValid=false;
 

}
 if ($('#chkIsAgree').is(":checked"))
{

}
else
{

    isValid=false;
 
}

if(isValid)
{
  $.ajax({
      type: "POST",
      url: "http://localhost:1337/consent",
      data: JSON.stringify({"EmployeeId":employeeId,"CompanyName":companyName, "MortageNumber":mortageNumber, "CallBackURL":callBackURL,"Salary":salary,"EmploymentYears":employmentYears}),
      dataType:"json",
      contentType:"application/json",
      crossDomain:true,
      success: function(obj){

          //$("#response_variable").html("Your Information has successfully submitted to broker");

    $.ajax({
      type: "POST",
      url: obj.CallBackURL, // workflow url
      data: JSON.stringify(obj),
      dataType:"json",
      contentType:"application/json",
      crossDomain:true,
      success: function(res){
            if(res["response"]=="success")
            {
                    $("#response_variable").html("Your Information has successfully submitted to broker");
                    $("#response_variable").css({"color": "green" });
            }
            else
            {
                    $("#response_variable").html(res["response"]);
                    $("#response_variable").css({"color": "red" });
                    
            }
      }
  });

      }
  });
}
  
}



   
</script>

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Employer's Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

<form class="form" id="formSendToBroker">
    <fieldset>
        <h2>Employee's detail</h2>    
    <div class="container-fluid">
        <div class="formdetails">
            <p>
                Mortgage Application number:
            </p>
            <input id="mortgage_number" name="mortgage_number" class="form-control" type="number" placeholder="Your mortgage application number" required="true"/>
        </div>
    </div>
    <div class="container-fluid">
        <div class="formdetails">
            <p>
                Broker URL:
            </p>
            <input id="callback_url" name="callback_url" class="form-control" type="url" placeholder="Enter Callback URL" required="true"/>
        </div>
    </div>
    <div class="container-fluid">
        <div class="formdetails">
            <p>
                Annual Salary (in K):
            </p>
            <input id="salary" name="salary" class="form-control" type="number" placeholder="Enter your annual salary" required="true"/>
        </div>
    </div>
    <div class="container-fluid">
        <div class="formdetails">
            <p>
                Employment length (in Years):
            </p>
            <input id="employment_years" name="employment_years" class="form-control" type="number" placeholder="Enter your Employment Years" required="true"/>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-group">
        <div class="form-check" style="margin-top: 10px">
        <input class="form-check-input is-valid" type="checkbox"  id="chkIsAgree" required="true">
            <label class="form-check-label" style="margin-left: 20px" for="chkIsAgree">I Agree to send my details to MBR
            </label>
        </div>
        </div>
    </div>
    <div class="container-fluid">
        <button class="btn btn-primary" id="btnSend" type="submit">Send Details to Broker</button>
    </div>
    <div id="response_variable"></div>
</fieldset>
</form>
</body>